{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "transform-class-properties",
    "transform-exponentiation-operator",
    "transform-object-rest-spread",
    "transform-es2015-spread"
  ]
}
